<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430189687721-ubudapuulsn2bv67ro5eh310nbddqiai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430189687721-ubudapuulsn2bv67ro5eh310nbddqiai</string>
	<key>API_KEY</key>
	<string>AIzaSyBZrjXMyusF2f4oD8GVNuEPkagBDSX7pSk</string>
	<key>GCM_SENDER_ID</key>
	<string>430189687721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inovasiBudaya</string>
	<key>PROJECT_ID</key>
	<string>inovasi-budaya</string>
	<key>STORAGE_BUCKET</key>
	<string>inovasi-budaya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430189687721:ios:d2aab7cbbae83bc2c48ab8</string>
</dict>
</plist>